h1{
    color: crimson;
    text-align: center;
}
.contenedor{
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
    border: 2px dashed yellowgreen;
}
span{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background:turquoise;
    border: 1px solid black;
    height: 50px;
    padding: 5px;
    display: inline-block;
}
.menu{
    border: 1px solid black;
    list-style-type: none;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background: brown;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}