h1{
    text-align: center;
    color: crimson;
}
.container{
    border: 3px dashed yellowgreen;
    width: 300px;
    height: 100px;
    overflow: auto;
    float: left;
}
.right{
    float: right;
}
.clear{
    float: none;
    clear: both;
    margin: auto;
}