html{
    height: auto;
    min-height: 100%;
}
body{
    /* background: linear-gradient(to right, #f72585, #3a0ca3); */
    background: radial-gradient( #f72585, #3a0ca3, #000, #3a0ca3);
    color: white;
}
h1{
    text-align: center;
    color: red;

    text-shadow: 2px /*eje x */ 2px /*eje x */ 2px /*blur */  #f72585;
}
div.container{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid black;
    padding: 15px;
    text-align: center;
    box-shadow: 12px 12px 12px 10px /*tamaño sombra(spread)*/ #f72585;
}

